sim_build/
obj_dir/
*.vcd
*.fst
*.ghw
*.vpp
*.vvp
results.xml

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
env/
venv/
build/
work/
dist/
/bin/
/lib/
compile_commands.json
.cache

third-party/

*.log
*.jou
*.str
*.pb
*.jou
clockInfo.txt

.Xil/
usage_statistics_webtalk.*
vivado.php
vivado_pid*.str

*.bit
*.bin
*.dcp
.nvim
